@font-face {
    font-family: 'Oswald';
    src: url('../Fonts/Oswold/Oswald-Medium.woff') format('woff'), url('../Fonts/Oswold/Oswald-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



$headerAndFooterTextColor: #ffffff;
$mainHeadlineTextColor: #252525;
$mainGeneralTextColor: #777777;


$firstMainBackGroundColor: #FBFBFB;
$secondMainBackGroundColor: #F2F2F2;
$blocksMainBackGroundColor: #FFFFFF;
$additionalMainBackGroundColor: #4CAF50;


$underLineOrCrossOutTextColor: #70BF73;
$underLineBigTextColor: #D8D8D8;





